<launch>
    <!-- Set to your sensor's range -->
    <arg name="sensor_range" default="3.0"/>

    <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>
    <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >

        <param name="frequency" type="double" value="2.0"/>
        <param name="goal_aliasing" type="double" value="$(arg sensor_range)"/>

        #All standard costmap_2d parameters as in move_base, other than BoundedExploreLayer
        <rosparam ns="explore_costmap" subst_value="true">
            #Sample parameters
            footprint: [[0.1, 0.0], [0.0, 0.1], [0.0, -0.1], [-0.1, 0.0]]
            robot_radius: 0.3

            transform_tolerance: 1.5 # RGBDSLAM localization is slow
            update_frequency: 3.0
            publish_frequency: 3.0

            global_frame: map
            robot_base_frame: camera_link
            resolution: 0.2

            rolling_window: true
            track_unknown_space: true

            plugins:
                - {name: explore_boundary, type: "frontier_exploration::BoundedExploreLayer"}
                - {name: sensor,           type: "costmap_2d::ObstacleLayer"}
                - {name: inflation,        type: "costmap_2d::InflationLayer"}

            explore_boundary:
                resize_to_boundary: true
                frontier_travel_point: closest

            sensor:
                observation_sources: octomap
                octomap: {data_type: PointCloud2, topic:
                '/Q1/octomap_point_cloud_centers', clearing: true, marking: true}

            inflation:
                inflation_radius: 0.15
      </rosparam>
    </node>
</launch>
